*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro';
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}
.container{
    display: flex;
    height: 100vh;
    
}
.country-list{
    flex: 1;
    height: 100vh;
 
   overflow: auto;
    background: #fff;
    
}

.country-list .country-list-content{
    padding: 2rem;
   
    top: 0;   
    
}

.country-list h1{
    font-size: 3.5rem;
    color: #dc3545;
}
.country-list .country-list-content a{
    color: #dc3545;
    text-decoration: underline;
}
.country-list .country-list-content p {
    font-size: 1.3rem;
    color: #000;
    padding-top: 2rem;
    letter-spacing: 1.7;
  }
  
.country-list .country-list-content p strong {
    font-weight: 700;
  }
.map{
    flex: 2;
}
.country-detail{
    flex:1;
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
}
.country-summary{
    display: flex;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.total-death{
   color: #dc3545;
    
}
.btnDetail{
  
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px 30px;
  padding: 1rem;
  font-family: 'Merriweather';
  justify-self: center;
  align-self: center;
}
.total-recovered{
    color: green;
   
}
.total-death, .total-recovered{
  
    height: 100px;
    flex: 1;
}
.country-summary  h2{
    text-align: center;
    font-size: 2.5rem;
}
.country-summary p{
    text-align: center;
    font-size: 1.5rem;
}
#countryName{
    font-size: 3.5rem;
    background: #dc3545;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: center;
}














.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #eceeef;
  }
  
  .table .table {
    background-color: #fff;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #eceeef;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #eceeef;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-active,
  .table-active > th,
  .table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: #dff0d8;
  }
  
  .table-hover .table-success:hover {
    background-color: #d0e9c6;
  }
  
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #d0e9c6;
  }
  
  .table-info,
  .table-info > th,
  .table-info > td {
    background-color: #d9edf7;
  }
  
  .table-hover .table-info:hover {
    background-color: #c4e3f3;
  }
  
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #c4e3f3;
  }
  
  .table-warning,
  .table-warning > th,
  .table-warning > td {
    background-color: #fcf8e3;
  }
  
  .table-hover .table-warning:hover {
    background-color: #faf2cc;
  }
  
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #faf2cc;
  }
  
  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: #f2dede;
  }
  
  .table-hover .table-danger:hover {
    background-color: #ebcccc;
  }
  
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #ebcccc;
  }
  
  .thead-inverse th {
    color: #fff;
    background-color: #292b2c;
  }
  
  .thead-default th {
    color: #464a4c;
    background-color: #eceeef;
  }
  
  .table-inverse {
    color: #fff;
    background-color: #292b2c;
  }
  
  .table-inverse th,
  .table-inverse td,
  .table-inverse thead th {
    border-color: #fff;
  }
  
  .table-inverse.table-bordered {
    border: 0;
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .table-responsive.table-bordered {
    border: 0;
  }